<nav class="bg-[#0D1117] px-3 py-2 shadow-md sm:fixed relative z-50 sm:w-[90%] sm:mx-[5%] sm:mt-[2%] sm:rounded-t-lg">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <!-- Logo Section -->
    <div class="text-white md:text-2xl text-xl font-bold">
      <a routerLink="/" (click)="closeMenuOnNavigate()">
        <span class="text-[#C541B4]">End</span>Game
        <p class="md:text-sm text-[0.8rem] italic">world <span class="text-[#C541B4]">of game</span></p>
      </a>
    </div>

    <!-- Desktop Menu -->
    <div class="hidden md:flex gap-1">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="text-white hover:bg-[#BF35AE] px-3 py-2 rounded-md text-md">Home</a>
      <a routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="text-white hover:bg-[#BF35AE] px-3 py-2 rounded-md text-md">About</a>
      <a routerLink="/service" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="text-white hover:bg-[#BF35AE] px-3 py-2 rounded-md text-md">Services</a>
      <a routerLink="/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="text-white hover:bg-[#BF35AE] px-3 py-2 rounded-md text-md">Contact</a>
    </div>

    <!-- Mobile Menu Button -->
    <button (click)="toggleMenu()" class="md:hidden text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div [ngClass]="{'top-20': menuOpen, '-top-44': !menuOpen}" class="md:hidden absolute left-0 bg-[#091626] w-full space-y-2 transition-all duration-300 ease-in-out">
    <a routerLink="/" (click)="closeMenuOnNavigate()" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="block text-white hover:bg-[#BF35AE] px-3 py-2 rounded-md text-md">Home</a>
    <a routerLink="/about" (click)="closeMenuOnNavigate()" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="block text-white hover:bg-[#BF35AE] px-3 py-2 rounded-md text-md">About</a>
    <a routerLink="/service" (click)="closeMenuOnNavigate()" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="block text-white hover:bg-[#BF35AE] px-3 py-2 rounded-md text-md">Services</a>
    <a routerLink="/contact" (click)="closeMenuOnNavigate()" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="block text-white hover:bg-[#BF35AE] px-3 py-2 rounded-md text-md">Contact</a>
  </div>
</nav>
