/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0d1117;
    color: #fff;
  }
  
  /* Section Header */
  h1 {
    color: #C541B4;
  }
  
  p {
    color: #9ca3af;
  }
  
  /* Service Cards */
  .service-card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .service-card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .service-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 1rem;
  }
  
  .service-card:hover .service-card-overlay {
    opacity: 1;
  }
  